button{
    width: 60%;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: white;
    opacity: 0.7;
}
.Friend{
    background-color: green;
}
.Teacher{
    background-color: blue;
}
.Student{
    background-color: purple;
}
button:hover{
    opacity: 1;
}
button:focus{
    outline: 3px solid black;
}